@page
@model SalesSystem.Models.ProductViewModel
@{
}

<div class="form-group">

    <div class="form-group row">

        <label class="col-md-4 col-form-label">Customization Type</label>
        <div class="col-md-8">
            @Html.TextBoxFor(p => p.CustomizationType, "", new { @class = "form-control" })
        </div>

    </div>
    @Html.ValidationMessageFor(p => p.CustomizationType, "", new { @class = "text-danger" })
</div>


<div class="form-group badge-danger">

    <div class="form-group row">

        <label class="col-md-4 col-form-label">Select Accesories</label>
        <div class="col-md-8 form-inline">
          
                <div class="col"> @Html.TextBoxFor(p => p.warrenty, "", new { @class = "form-control" })</div>
                <div class="col"> @Html.TextBoxFor(p => p.warrenty, "", new { @class = "form-control" })</div>
                <div class="col"> @Html.TextBoxFor(p => p.warrenty, "", new { @class = "form-control" })</div>
     
        </div>

    </div>
    @Html.ValidationMessageFor(p => p.warrenty, "", new { @class = "text-danger" })
</div>

